apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qdrant-storage
  namespace: qdrant
spec:
  storageClassName: sdb-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
